.App {
  background-color: #b3c4e4;
}

.App-header {
  background-color: #1e2024;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.App-title {
  display: flex;
  flex-direction: column;
  max-width: 10%;
  color: white;
  text-align: left;
  align-items: center;
  margin-top: 20px;
}
